~~
~~TODO: index.html is an "about" page, this content should be moved
~~

Basic Usage

    If you want to use the latest snapshot you will need to add the Sonatype Maven repository to your project:

+---+
<pluginRepositories>
    <pluginRepository>
        <id>Sonatype Repository</id>
        <url>https://oss.sonatype.org/content/groups/staging</url>
    </pluginRepository>
</pluginRepositories>
+---+

    Add the plugin to the build section of your <<<pom.xml>>> (Best practice is to define the version of the Maven JMeter plugin that you want to use in either your <<<pom.xml>>> or a parent <<<pom.xml>>>):

+---+
<project>
    [...]
    <build>
        <pluginManagement>
            <plugins>
                <plugin>
                    <groupId>${project.groupId}</groupId>
                    <artifactId>${project.artifactId}</artifactId>
                    <version>${project.version}</version>
                    <executions>
                        <execution>
                            <id>jmeter-tests</id>
                            <phase>verify</phase>
                            <goals>
                                <goal>jmeter</goal>
                            </goals>
                        </execution>
                    </executions>
                </plugin>
            </plugins>
        </pluginManagement>
    </build>
    [...]
</project>
+---+

    By default the plugin uses the default properties files supplied with JMeter.
    If you want to override any of these files completely you simply need to create it in <<$\{project.base.directory\}/src/test/jmeter>>.

    The following files will be used if they are found in <<$\{project.base.directory\}/src/test/jmeter>>:

        * jmeter.properties

        * saveservice.properties

        * upgrade.properties

        * system.properties

        * user.properties

        * global.properties

    If you want to override some properties only, you may do so by using the corresponding configuration elements.

    The plugin will automatically run all of the JMX test files held in the <<$\{project.base.directory\}/src/test/jmeter>> directory.
    To run the tests:

    * Open a terminal/command prompt

    * Type `<<cd $\{project.base.directory\}>>`

    * Type `<<mvn verify>>`

    []

    All your tests should now run!
