Basic Usage

    First of all add this fork's Maven repository to your project (or personal maven repo):

+---+
<pluginRepositories>
  <pluginRepository>
    <id>Maven JMeter Plugin</id>
    <url>http://ardesco.github.com/jmeter-maven-plugin/repository</url>
  </pluginRepository>
</pluginRepositories>
+---+

    Add the plugin to the build section of your <<<pom.xml>>> (Best practice is to define the version of the Maven JMeter plugin that you want to use in either your <<<pom.xml>>> or a parent <<<pom.xml>>>):

+---+
<project>
  [...]
    <build>
      <pluginManagement>
        <plugins>
          <plugin>
            <groupId>${project.groupId}</groupId>
            <artifactId>${project.artifactId}</artifactId>
            <version>${project.version}</version>
            <executions>
              <execution>
                <id>jmeter-tests</id>
                <phase>verify</phase>
                <goals>
                  <goal>jmeter</goal>
                </goals>
              </execution>
            </executions>
            <configuration>
              <reportDir>${project.build.directory}/jmeter-reports</reportDir>
            </configuration>
          </plugin>
        </plugins>
      </pluginManagement>
    </build>
  [...]
</project>
+---+

    For everything to work correctly you will need to supply a jmeter.properties file to configure the instance of JMeter started by maven.

    To do this you will need to copy your <<$JMETER_HOME/bin/jmeter.properties>> to <<$\{project.base.directory\}/src/test/jmeter>>
    You can make any tweaks necessary to the jmeter.properties file as you see fit.

    This plugin will automatically run all of the JMX test files held in the <<$\{project.base.directory\}/src/test/jmeter>> directory.
    To run the tests:

    * Open a terminal/command prompt

    * Type `<<cd $\{project.base.directory\}>>`

    * Type `<<mvn verify>>`

    []

    All your tests should run in maven now!
