Usage

    Best practice is to define the version of the Maven JMeter plugin that you want to use in either your <<<pom.xml>>> or a parent <<<pom.xml>>>

+---+
<project>
  [...]
  <build>
    <pluginManagement>
      <plugins>
        <plugin>
          <groupId>${project.groupId}</groupId>
          <artifactId>${project.artifactId}</artifactId>
          <version>${project.version}</version>
        </plugin>
      </plugins>
    </pluginManagement>
  </build>
  [...]
</project>
+---+
