Release Notes

* Version 1.4

  * New <<group.id>> <<<com.lazerycode.jmeter>>>

  * New <<artifact.id>> <<<jmeter-maven-plugin>>>

  * Depends on the official Apache JMeter 2.6 artifacts (now available at {{{http://repo1.maven.org/maven2/org/apache/jmeter/}repo1.maven.org/maven2/org/apache/jmeter/}})

  * Incompatible configuration element changes

      * Custom property files can't be configured directly any more, they have to be put into <<src/test/jmeter/>>

      * Renamed properties:

        * includes -> testFilesIncluded

        * excludes -> testFilesExcluded

        * srcDir -> testfileDirectory

        * enableReports -> reportEnable

        * jmeterIgnoreFailure -> ignoreResultFailures

        * jmeterIgnoreError -> ignoreResultErrors

        * jmeterUserProperties -> propertiesUser

        * jmeterDefaultPropertiesFile -> propertiesJMeter

  * New properties

    * proxyHost, proxyPort, proxyUsername, proxyPassword, nonProxyHosts used to configure a proxy used by JMeter

    * suppressJMeterOutput suppress JMeter output to standard out (Default: true)

    * remoteStart, remoteStop, remoteStartAll, remoteStartAndStopOnce used to configure handling of remote testing