Version 1.4.1 Release Notes

    * issue #34 - plugin now uses the jmeter.exit.check.pause set in the final jmeter.properties used by the plugin and is no longer hard coded to 2000.
    * issue #37 - plugin now uses a listener instead of scanning log files to work out when test has completed.