Version 1.8.0 Release Notes

* JMeter version 2.9 support added.
* #61 - Added skipTests ability.
* #58 #59 - Add dependencies with custom function to /lib/ext folder
* Removed jmx file sorting code as it was not sorting files into a determinalistic order.
* Removed checks for &lt;error&gt;true&lt;/error&gt; and &lt;failure&gt;true&lt;/failure&gt; in .jtl files, these elements do not occur in JMeter 2.9.
* Added ability to choose whether to Append or Prepend date to filename, new configuration option added: &lt;appendResultsTimestamp&gt;false&lt;/appendResultsTimestamp&gt;
* Set default timestamp to an ISO_8601 timestamp.  The formatter now used is a JodaTime DateTimeFormatter (See http://joda-time.sourceforge.net/apidocs/org/joda/time/format/DateTimeFormat.html)
* Added the ability to override the root log level, new configuration option added: &lt;overrideRootLogLevel&gt;DEBUG&lt;/overrideRootLogLevel&gt;.  Valid log levels are FATAL_ERROR, ERROR, WARN, INFO and DEBUG.
* Failure scanner refactored to use a Boyer-Moore algorithm to increase performance on large results files.
* Modified remote configuration settings, configuration options are now self explanitory:

		&lt;remoteConfiguration&gt;
			&lt;startAndStopServersForEachTest&gt;false&lt;/startAndStopServersForEachTest&gt;
			&lt;startServersBeforeTests&gt;true&lt;/startServersBeforeTests&gt;
			&lt;stopServersAfterTests&gt;true&lt;/stopServersAfterTests&gt;
			&lt;serverList&gt;server1,server2&lt;/serverList&gt;
		&lt;/remoteConfiguration&gt;