Version 1.4.0 Release Notes

  * New <<group.id>> <<<com.lazerycode.jmeter>>>

  * New <<artifact.id>> <<<jmeter-maven-plugin>>>

  * Depends on the official Apache JMeter 2.6 artifacts (now available at {{{http://repo1.maven.org/maven2/org/apache/jmeter/}repo1.maven.org/maven2/org/apache/jmeter/}})

  * Incompatible configuration element changes

      * Custom property file locations cannnot be configured directly any more, they have to be put into <<src/test/jmeter/>>

      * Renamed/moved properties:

        * includes -> testFilesIncluded

        * excludes -> testFilesExcluded

        * srcDir -> testFilesDirectory

        * enableReports -> reportConfig->enable

        * reportDir -> reportConfig->outputDirectory

        * reportPostfix -> reportConfig->postfix

        * reportXslt -> reportConfig->xsltFile

        * jmeterIgnoreFailure -> ignoreResultFailures

        * jmeterIgnoreError -> ignoreResultErrors

        * jmeterUserProperties -> propertiesUser

        * jmeterDefaultPropertiesFile -> propertiesJMeter

  * New properties

    * proxyConfig->host, proxyConfig->port, proxyConfig->username, proxyConfig->password, proxyConfig->nonProxyHosts - used to configure a proxy used by JMeter

    * suppressJMeterOutput(Default: true) - suppress JMeter output to standard out.

    * remoteConfig->start, remoteConfig->stop, remoteConfig->startAll, remoteConfig->startAndStopOnce - used to configure handling of remote testing.

    * testResultsTimestamp(Default: true) - enable/disable timestamping of the results filename(s).
