Proxy Settings

    You can configure proxy settings to be used by JMeter here, the proxy settings will be used to run every test.

    The proxy port will always default to 80 if it is not set.  If you do not set a proxy host any port setting will be ignored, the host is blank by default.

    <<username>> and <<password>> are optional settings that are set independently, you can set a <<username>> and/or a <<password>> without setting a <<host>> and they will be sent to JMeter.

    You can also set an optional <<hostExclusions>> element to notify JMeter of hosts that should not be proxied.  This setting is a regex.

+---+
<project>
    [...]
    <build>
        <pluginManagement>
            <plugins>
                <plugin>
                    <groupId>${project.groupId}</groupId>
                    <artifactId>${project.artifactId}</artifactId>
                    <version>${project.version}</version>
                    <executions>
                        <execution>
                            <id>jmeter-tests</id>
                            <phase>verify</phase>
                            <goals>
                                <goal>jmeter</goal>
                            </goals>
                        </execution>
                    </executions>
                    <configuration>
                        <proxyConfig>
                            <host>10.10.10.53</host>
                            <port>80</port>
                            <username>jimbob</username>
                            <password>correct horse battery staple</password>
                            <hostExclusions>localhost|*.lazerycode.com</hostExclusions>
                        </proxyConfig>
                    </configuration>
                </plugin>
            </plugins>
        </pluginManagement>
    </build>
    [...]
</project>
+---+