Remote Start And Stop

    Remote stopping and starting will only happen once at the start of the suite and once at the end of the suite by default.  You can configure the plugin to perform a remote starts and stops for each individual test by setting the <<startAndStopOnce>> variable to false.

    Setting the <<startAll>> option will result in a --runremote command being send to JMeter which will start up any remote servers you have defined in <<<jmeter.properties>>>.

    Setting the <<stop>> option will result in a --remoteexit command being send to JMeter which will shut down all remote servers.

+---+
<project>
    [...]
    <build>
        <pluginManagement>
            <plugins>
                <plugin>
                    <groupId>${project.groupId}</groupId>
                    <artifactId>${project.artifactId}</artifactId>
                    <version>${project.version}</version>
                    <executions>
                        <execution>
                            <id>jmeter-tests</id>
                            <phase>verify</phase>
                            <goals>
                                <goal>jmeter</goal>
                            </goals>
                        </execution>
                    </executions>
                    <configuration>
                        <remoteConfiguration>
                            <startAndStopOnce>false</startAndStopOnce>
                            <startAll>true</startAll>
                            <stop>true</stop>
                        </remoteConfiguration>
                    </configuration>
                </plugin>
            </plugins>
        </pluginManagement>
    </build>
    [...]
</project>
+---+

    Instead of starting all remote servers, you can specify which ones to start by using the <<start>> option, this will accept a comma separated list of servers for JMeter to start (these should be defined in your <<<jmeter.properties>>>).

+---+
<project>
    [...]
    <build>
        <pluginManagement>
            <plugins>
                <plugin>
                    <groupId>${project.groupId}</groupId>
                    <artifactId>${project.artifactId}</artifactId>
                    <version>${project.version}</version>
                    <executions>
                        <execution>
                            <id>jmeter-tests</id>
                            <phase>verify</phase>
                            <goals>
                                <goal>jmeter</goal>
                            </goals>
                        </execution>
                    </executions>
                    <configuration>
                        <remoteConfiguration>
                            <start>server1,server2</start>
                            <stop>true</stop>
                        </remoteConfiguration>
                    </configuration>
                </plugin>
            </plugins>
        </pluginManagement>
    </build>
    [...]
</project>
+---+