Remote Start And Stop

    Setting the <<startServersBeforeTests>> option will result in a --runremote command being send to JMeter which will start up any remote servers you have defined in <<<jmeter.properties>>> when your first test starts.

    Setting the <<stopServersAfterTests>> option will result in a --remoteexit command being send to JMeter which will shut down all remote servers defined in <<<jmeter.properties>>> after your last test has been run.

    You can configure the plugin to perform a remote start and stop for each individual test by setting the <<startAndStopServersForEachTest>> variable to true.

+---+
<project>
    [...]
    <build>
        <pluginManagement>
            <plugins>
                <plugin>
                    <groupId>${project.groupId}</groupId>
                    <artifactId>${project.artifactId}</artifactId>
                    <version>${project.version}</version>
                    <executions>
                        <execution>
                            <id>jmeter-tests</id>
                            <phase>verify</phase>
                            <goals>
                                <goal>jmeter</goal>
                            </goals>
                        </execution>
                    </executions>
                    <configuration>
                        <remoteConfiguration>
                            <startAndStopServersForEachTest>false</startAndStopServersForEachTest>
                            <startServersBeforeTests>true</startServersBeforeTests>
                            <stopServersAfterTests>true</stopServersAfterTests>
                        </remoteConfiguration>
                    </configuration>
                </plugin>
            </plugins>
        </pluginManagement>
    </build>
    [...]
</project>
+---+

    Instead of starting all remote servers, you can specify which ones to serverList by using the <<serverList>> option, this will accept a comma separated list of servers for JMeter to serverList (these should be defined in your <<<jmeter.properties>>>).

+---+
<project>
    [...]
    <build>
        <pluginManagement>
            <plugins>
                <plugin>
                    <groupId>${project.groupId}</groupId>
                    <artifactId>${project.artifactId}</artifactId>
                    <version>${project.version}</version>
                    <executions>
                        <execution>
                            <id>jmeter-tests</id>
                            <phase>verify</phase>
                            <goals>
                                <goal>jmeter</goal>
                            </goals>
                        </execution>
                    </executions>
                    <configuration>
                        <remoteConfiguration>
                            <serverList>server1,server2</serverList>
                            <stopServersAfterTests>true</stopServersAfterTests>
                        </remoteConfiguration>
                    </configuration>
                </plugin>
            </plugins>
        </pluginManagement>
    </build>
    [...]
</project>
+---+