Report Settings

    You can configure report settings to be used by the report generator, which will be used to generate a report after every test.

    Reports are generated as HTML by default. This may be turned off by setting <<enabled>> to false.

    <<outputDirectory>> is an optional setting. Reports are generated here. <<postfix>> is optional and defaults to "-report.html".
    You may use a custom Xslt file and configure it using <<xsltFile>>

+---+
<project>
    [...]
    <build>
        <pluginManagement>
            <plugins>
                <plugin>
                    <groupId>${project.groupId}</groupId>
                    <artifactId>${project.artifactId}</artifactId>
                    <version>${project.version}</version>
                    <executions>
                        <execution>
                            <id>jmeter-tests</id>
                            <phase>verify</phase>
                            <goals>
                                <goal>jmeter</goal>
                            </goals>
                        </execution>
                    </executions>
                    <configuration>
                        <reportConfig>
                            <enableReports>true</enableReports>
                            <postfix>-my-postfix.html</postfix>
                        </reportConfig>
                    </configuration>
                </plugin>
            </plugins>
        </pluginManagement>
    </build>
    [...]
</project>
+---+