Setting Global Properties

    Global properties are properties that are sent to remote machines.
    To set those properties you will need to specify each property in your <<<pom.xml>>> in the config element <<propertiesGlobal>>. (The example below shows a property called <<threads>> and a propery called <<testIterations>> being set).
    The properties are merged into the JMeter properties file <<<global.properties>>> and overwrite identical properties within the file.

+---+
<project>
    [...]
    <build>
        <pluginManagement>
            <plugins>
                <plugin>
                    <groupId>${project.groupId}</groupId>
                    <artifactId>${project.artifactId}</artifactId>
                    <version>${project.version}</version>
                    <executions>
                        <execution>
                            <id>jmeter-tests</id>
                            <phase>verify</phase>
                            <goals>
                                <goal>jmeter</goal>
                            </goals>
                        </execution>
                    </executions>
                    <configuration>
                        <propertiesGlobal>
                            <threads>10</threads>
                            <testIterations>5</testIterations>
                        </propertiesGlobal>
                    </configuration>
                </plugin>
            </plugins>
        </pluginManagement>
    </build>
    [...]
</project>
+---+