System Properties

    JMeter can also set system properties, these are global environment properties accessible by all applications running in the same JVM (They are not accessible outside the JVM).

    To set system properties you will need to specify each property in your <<<pom.xml>>> (The example below shows a property called <<user.dir>> being set):

+---+
<project>
    [...]
    <build>
        <pluginManagement>
            <plugins>
                <plugin>
                    <groupId>${project.groupId}</groupId>
                    <artifactId>${project.artifactId}</artifactId>
                    <version>${project.version}</version>
                    <executions>
                        <execution>
                            <id>jmeter-tests</id>
                            <phase>verify</phase>
                            <goals>
                                <goal>jmeter</goal>
                            </goals>
                        </execution>
                    </executions>
                    <configuration>
                        <systemProperties>
                            <user.dir>/home/jmeter</user.dir>
                        </systemProperties>
                    </configuration>
                </plugin>
            </plugins>
        </pluginManagement>
    </build>
    [...]
</project>
+---+