Setting Saveservice Properties

    It's possible to set properties that configure the Saveservice of the main JMeter library.
    To set those properties you will need to specify each property in your <<<pom.xml>>> in the config element <<propertiesSaveservice>>. (The example below shows a property called <<HTTPSampler2>> being set).
        The properties are merged into the JMeter properties file <<<saveservice.properties>>> and overwrite identical properties within the file.

+---+
<project>
    [...]
    <build>
        <pluginManagement>
            <plugins>
                <plugin>
                    <groupId>${project.groupId}</groupId>
                    <artifactId>${project.artifactId}</artifactId>
                    <version>${project.version}</version>
                    <executions>
                        <execution>
                            <id>jmeter-tests</id>
                            <phase>verify</phase>
                            <goals>
                                <goal>jmeter</goal>
                            </goals>
                        </execution>
                    </executions>
                    <configuration>
                        <propertiesSaveService>
                            <HTTPSampler2>org.apache.jmeter.protocol.http.sampler.HTTPSampler2</HTTPSampler2>
                        </propertiesSaveService>
                    </configuration>
                </plugin>
            </plugins>
        </pluginManagement>
    </build>
    [...]
</project>
+---+