Setting System Properties

    JMeter can set system properties, these are global environment properties accessible by all applications running in the same JVM (They are not accessible outside the JVM).

    To set system properties you will need to specify each property in your <<<pom.xml>>> in the config element <<propertiesSystem>>. (The example below shows a property called <<my.system.property>> being set).
    The properties are merged into the JMeter properties file "system.properties" and overwrite identical properties within the file.

+---+
<project>
    [...]
    <build>
        <pluginManagement>
            <plugins>
                <plugin>
                    <groupId>${project.groupId}</groupId>
                    <artifactId>${project.artifactId}</artifactId>
                    <version>${project.version}</version>
                    <executions>
                        <execution>
                            <id>jmeter-tests</id>
                            <phase>verify</phase>
                            <goals>
                                <goal>jmeter</goal>
                            </goals>
                        </execution>
                    </executions>
                    <configuration>
                        <propertiesSystem>
                            <my.system.property>my.system.property.value</my.system.property>
                        </propertiesSystem>
                    </configuration>
                </plugin>
            </plugins>
        </pluginManagement>
    </build>
    [...]
</project>
+---+