Remote Properties

    JMeter remote properties are identical to user properties with one exception, they are used by remote instances of JMeter.

    You have two options for setting remote properties, the first is to specify each property in your <<<pom.xml>>> (The example below shows a property called <<threads>> and a propery called <<testIterations>> being set):

+---+
<project>
    [...]
    <build>
        <pluginManagement>
            <plugins>
                <plugin>
                    <groupId>${project.groupId}</groupId>
                    <artifactId>${project.artifactId}</artifactId>
                    <version>${project.version}</version>
                    <executions>
                        <execution>
                            <id>jmeter-tests</id>
                            <phase>verify</phase>
                            <goals>
                                <goal>jmeter</goal>
                            </goals>
                        </execution>
                    </executions>
                    <configuration>
                        <jmeterRemoteProperties>
                            <threads>10</threads>
                            <testIterations>5</testIterations>
                        </jmeterRemoteProperties>
                    </configuration>
                </plugin>
            </plugins>
        </pluginManagement>
    </build>
    [...]
</project>
+---+

    The second is to specify a remote properties file that contains all of the remote properties that you want to set (The example below shows a file called <<remote.properties>> being set):

+---+
<project>
    [...]
    <build>
        <pluginManagement>
            <plugins>
                <plugin>
                    <groupId>${project.groupId}</groupId>
                    <artifactId>${project.artifactId}</artifactId>
                    <version>${project.version}</version>
                    <executions>
                        <execution>
                            <id>jmeter-tests</id>
                            <phase>verify</phase>
                            <goals>
                                <goal>jmeter</goal>
                            </goals>
                        </execution>
                    </executions>
                    <configuration>
                        <jmeterRemotePropertiesFile>${basedir}/src/test/jmeter/remote.properties</jmeterRemotePropertiesFile>
                    </configuration>
                </plugin>
            </plugins>
        </pluginManagement>
    </build>
    [...]
</project>
+---+

    These methods are exclusive, you cannot specify individual remote properties and a remote properties file in your <<<pom.xml>>>.  If you do a MojoExecutionException will be thrown.