name: jmeter-maven-plugin-ci

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
        java-version: [ 8, 11, 16, 17, 18 ]
      fail-fast: false

    runs-on: ${{ matrix.os }}

    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Setup Maven Action
        uses: s4u/setup-maven-action@v1.8.0
        with:
          java-version: ${{ matrix.java-version }}
          maven-version: '3.9.2'

      - name: Build with Maven
        run: mvn clean verify
